body{
    background: #5f5e5e;
}
.game{
    width: 355PX;
    text-align: center;
    color: white;
    margin: auto;
    padding-top: 70px;
}

.title{
    background-color: rgb(68, 168, 168);
    padding-top: 8px;
    margin: 8px 0;
    height: 40px;
    font-size: 27px;

}
span{
    color: rgb(250, 124, 20);
}
.squre{
    width: 110px;
    height: 100px;
    background: #aaa0a0;
    float: left;
    margin: 4px;
    font-size: 50px;
}
.squre:hover{
    background: black;
    cursor: pointer;
}